body{ 
    background-image: url("https://raw.githubusercontent.com/Cocoze/EIA-SoSe20/master/Aufgabe%204/Station%201/Hintergrund1.png");
    background-repeat: repeat;
    width: 100%;
    background-color:#ffffff;

}