.Hintergrund3 {
    background-image: url("https://raw.githubusercontent.com/Cocoze/EIA-SoSe20/master/Aufgabe%204/Station%203/Hintergrund3.png");
    background-repeat: repeat;
    width: 100%;
    background-color:#ffffff;
}
.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-top: 60px;
    position: absolute;
    left: 350px;
}
.cf {
    color:white;
 margin-top: 100px;
}
p {
    color:white;
    font-size: 15pt;
    left:-550px;
    top:-50px;
    position: relative;
}
.Name {
    padding:2px;
    position: relative;
    left: -550px;
    top:-50px;
    text-align: right;
   }
.Urlaub {
    padding: 25px;
    padding-right: 120px;
    position: relative;
    left: -550px;
    top:-50px;


}
.choose {
padding:2px;
position: relative;
left: -550px;
top:-50px;
}
#eins {
    left: -550px;
    position: relative;
    top:-60px;
}
#zwei {
    left: -550px;
    position: relative;
    top:-60px;
}
label {
    left: -550px;
    position: relative;
    top:-60px;
}