header {
background-color:red;
height: 75px;
width: 150px;
-webkit-border-radius: 0px 0px 300px 300px;
-moz-border-radius: 0px 0px 300px 300px;
border-radius: 0px 0px 300px 300px;
}
 li {
    list-style: none;
    text-align: right;
    float: right;
    
}
a {
 color: white; 
 background:black; 
 text-decoration: none;
 display: block;
 padding: 2px;
 border: 10px;

}
.active {
    color: red;
}
.text-align{
    left;
}
h1, h2 {
font-family: sans-serif;
text-align: center; 
color: red;
}
.kontakt {
    text-align:left;
}
.about {
    text-align:center;
    margin-top: 10px;
}
h4 {
    color: white;
    background: lightgrey;
    display: block;
   padding: 5px;
   text-decoration: none;
   }

h5 {
    color: white;
    background-color: lightgrey;
    padding: 6px;
    margin: 6px;
    width: 100px;

}
p {
    text-align: center;    
}
body{ 
    background-image: url("https://raw.githubusercontent.com/Cocoze/EIA-SoSe20/master/Aufgabe3/Hintergrund.png");
    background-repeat: repeat;
    width: 100%;
}
img { 
    display: block; 
    margin-right: auto; 
    margin-left: auto;

}
video {
display: block; 
    margin-right: auto; 
    margin-left: auto; 
}