.Hintergrund4 {
    background-image: url("https://raw.githubusercontent.com/Cocoze/EIA-SoSe20/master/Aufgabe%204/Station%204/Hintergrund4.png");
    background-repeat: repeat;
    width: 100%;
    background-color:#ffffff;

}
.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-top: 60px;
    position: absolute;
    left: 350px;
    

}

.drei {
    column-count: 3;
    width: 500px;
    position: relative;
    left: -670px;
    top:-40px;
    display: inline-block;
    text-align: justify;
    hyphens: auto;
    border-collapse: separate;
    border-spacing: 50px;
    column-gap: 25px;
    
}
.zwei {
    column-count: 2;
    width: 500px;
    position: relative;
    left:-1170px;
    top: 90px;
    text-align: justify;
    hyphens: auto;
    column-gap: 25px;
}
h1 {
    position: relative;
    font-size: 20pt;
    text-align: center;
    top: -120px;
    left:-550px;
}
