.Hintergrund4 {
    background-image: url("https://raw.githubusercontent.com/Cocoze/EIA-SoSe20/master/Aufgabe%204/Station%204/Hintergrund4.png");
    background-repeat: repeat;
    width: 100%;
    background-color:#ffffff;

}
.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-top: 60px;
    {}